In [63]:
pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.10.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
!pip install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\programdata\anaconda3\lib\site-packages (3.8.6)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from webdriver-manager) (2.29.0)
Requirement already satisfied: python-dotenv in c:\programdata\anaconda3\lib\site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from webdriver-manager) (4.65.0)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from webdriver-manager) (23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver-manager) (2023.5.7)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.6)

In [2]:
pip install selenium beautifulsoup4 pandas

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4) (2.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.webdriver import WebDriver
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [3]:
options = webdriver.ChromeOptions()

options.add_argument("--disable-web-security") 

options.add_argument("--disable-gpu")

options.add_argument('--log-level=1')

driver = webdriver.Chrome(options=options)

In [4]:
driver.get("https://www.motor1.com/")

In [6]:
search_keyword = driver.find_element(By.XPATH, "/html/body/div[10]/div[2]/div/div/div[3]/ul/li[3]/a")
search_keyword.click()

In [7]:
search_keyword = driver.find_element(By.XPATH, "/html/body/div[10]/div[2]/div/div/div[3]/ul/li[3]/a")
search_keyword.click()

In [8]:
search_keyword = driver.find_element(By.XPATH, "/html/body/div[10]/div[6]/div/div[1]/div[2]/a")
search_keyword.click()

In [9]:
search_keyword = driver.find_element(By.XPATH, "/html/body/div[10]/div[8]/div[3]/div[1]/div/div/div[4]/div/div[1]/h3/a")
search_keyword.click()

In [10]:
Car_titles = []
Price_titles = []

In [11]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/h3[1]")
for i in title_tags[0:49]:
    title=i.text
    Car_titles.append(title)

In [12]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[4]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [13]:
print=(len(Car_titles),len(Price_titles))

In [14]:
print

(1, 1)

In [15]:
import pandas as pd
df=pd.DataFrame({'Car Titles':Car_titles,'Price Titles':Price_titles})
df

      Car Titles         Price Titles
0  De Tomaso P72  Price: $1.3 Million

In [16]:
Car_titles = []
Price_titles = []

In [17]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/h3[2]/a")
for i in title_tags[0:49]:
    title=i.text
    Car_titles.append(title)

In [18]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[6]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [19]:
print=(len(Car_titles),len(Price_titles))

In [20]:
print

(1, 1)

In [21]:
import pandas as pd
df=pd.DataFrame({'Car Titles':Car_titles,'Price Titles':Price_titles})
df

          Car Titles         Price Titles
0  Ferrari LaFerrari  Price: $1.4 Million

In [22]:
Car_titles = []
Price_titles = []

In [23]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/h3[3]/a")
for i in title_tags[0:49]:
    title=i.text
    Car_titles.append(title)

In [24]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[8]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [25]:
print=(len(Car_titles),len(Price_titles))

In [26]:
print

(1, 1)

In [27]:
import pandas as pd
df=pd.DataFrame({'Car Titles':Car_titles,'Price Titles':Price_titles})
df

      Car Titles         Price Titles
0  Pagani Huayra  Price: $1.4 Million

In [28]:
Car_titles = []
Price_titles = []

In [29]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/h3[4]")
for i in title_tags[0:49]:
    title=i.text
    Car_titles.append(title)

In [30]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[10]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [31]:
print=(len(Car_titles),len(Price_titles))

In [32]:
print

(1, 1)

In [33]:
import pandas as pd
df=pd.DataFrame({'Car Titles':Car_titles,'Price Titles':Price_titles})
df

     Car Titles         Price Titles
0  McLaren Elva  Price: $1.7 Million

In [38]:
Car_titles = []
Price_titles = []

In [39]:
title_tags=driver.find_elements(By.TAG_NAME,"h3")
for i in title_tags[0:50]:
    title=i.text
    Car_titles.append(title)

In [40]:
print=(len(Car_titles))

In [41]:
print

50

In [42]:
import pandas as pd
df=pd.DataFrame({'Car Titles':Car_titles})
df

                         Car Titles
0                     De Tomaso P72
1                 Ferrari LaFerrari
2                     Pagani Huayra
3                      McLaren Elva
4                       Czinger 21C
5                     Ferrari Monza
6                Gordon Murray T.33
7                 Koenigsegg Gemera
8                       Zenvo TSR-S
9                Hennessey Venom F5
10                  Bentley Bacalar
11    Hispano Suiza Carmen Boulogne
12           Bentley Mulliner Batur
13                     Deus Vayanne
14                      SSC Tuatara
15                      Lotus Evija
16              Aston Martin Vulcan
17                       Delage D12
18                McLaren Speedtail
19                     Rimac Nevera
20                    Pagani Utopia
21             Pininfarina Battista
22                Ferrari FXX K Evo
23               Gordon Murray T.50
24             Lamborghini Countach
25         Mercedes-AMG Project One
26              Aston Martin Victor
27      Hennessey Venom F5 Roadster
28                 Koenigsegg Jesko
29            Aston Martin Valkyrie
30        W Motors Lykan Hypersport
31                    McLaren Solus
32        Pagani Huayra Roadster BC
33         Bugatti Chiron Pur Sport
34                 Lamborghini Sian
35                 Koenigsegg CC850
36  Bugatti Chiron Super Sport 300+
37               Lamborghini Veneno
38                   Bugatti Bolide
39                  Bugatti Mistral
40              Pagani Huayra Imola
41                     Bugatti Divo
42              SP Automotive Chaos
43                 Pagani Codalunga
44         Mercedes-Maybach Exelero
45               Bugatti Centodieci
46          Bugatti Chiron Profilée
47             Rolls-Royce Sweptail
48         Bugatti La Voiture Noire
49           Rolls-Royce Boat Tail*

In [53]:
Car_titles = []
Price_titles = []

In [54]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[4]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [58]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[6]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [59]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[8]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [60]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[10]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [62]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[12]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [63]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[14]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [64]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[16]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [65]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[18]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [66]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[20]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [67]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[22]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [68]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[24]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [69]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[26]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [70]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[28]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [71]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[30]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [72]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[32]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [73]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[34]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [ ]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[36]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [74]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[38]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [ ]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[40]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [75]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[42]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [76]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[44]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [77]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[46]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [78]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[48]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [79]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[50]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [80]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[52]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [ ]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[54]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [81]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[56]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [82]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[58]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [83]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[60]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [ ]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[62]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [84]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[64]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [85]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[66]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [86]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[68]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [87]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[70]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [88]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[72]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [89]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[74]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [90]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[76]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [91]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[78]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [92]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[80]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [93]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[82]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [94]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[84]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [95]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[86]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [96]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[88]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [ ]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[90]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [97]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[92]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [98]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[94]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [99]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[96]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [100]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[98]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [101]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[100]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [102]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[1]/p[102]/strong")
for i in title_tags[0:49]:
    title=i.text
    Price_titles.append(title)

In [103]:
print=(len(Price_titles))

In [104]:
print

46

In [105]:
import pandas as pd
df=pd.DataFrame({'Price Titles':Price_titles})
df

                   Price Titles
0           Price: $1.3 Million
1           Price: $1.4 Million
2           Price: $1.4 Million
3           Price: $1.7 Million
4           Price: $1.7 Million
5           Price: $1.7 Million
6           Price: $1.7 Million
7           Price: $1.7 Million
8           Price: $1.7 Million
9           Price: $1.7 Million
10          Price: $1.8 Million
11          Price: $1.9 Million
12          Price: $1.9 Million
13          Price: $2.0 Million
14          Price: $2.0 Million
15         Price: $2.0 Million*
16          Price: $2.1 Million
17          Price: $2.3 Million
18          Price: $2.4 Million
19          Price: $2.5 Million
20          Price: $2.5 Million
21          Price: $2.6 Million
22          Price: $2.6 Million
23          Price: $2.6 Million
24          Price: $3.0 Million
25                 $3.0 Million
26          Price: $3.0 Million
27          Price: $3.4 Million
28                 $3.5 Million
29          Price: $3.5 Million
30          Price: $3.6 Million
31          Price: $3.6 million
32          Price: $3.7 Million
33          Price: $3.9 Million
34          Price: $4.5 Million
35          Price: $4.7 Million
36          Price: $5.0 Million
37          Price: $5.4 Million
38          Price: $5.8 Million
39          Price: $6.4 Million
40          Price: $8.0 Million
41          Price: $9.0 Million
42         Price: $10.8 Million
43         Price: $12.8 Million
44         Price: $13.4 Million
45  Price: $28.0 Million (est.)